<h1>Fridge</h1>
<table>
  <tr>
    <th> Ingredient </th>
    <th> Quantity </th>
  </tr>
  <tr *ngFor="let i of service.ourFridge.ingredientsInFridge" (click)="selectIngredient(i)" class="{{ selectedItem == i ? 'selected' : '' }}" >
    <td>{{i.name}}</td>
    <td>{{i.quantity}}</td>
  </tr>
</table> 

<div>
  <label >Ingredient Name</label> 
  <input type="text" [(ngModel)]="newItem.name">
    <label>Quantity</label>
    <input type="number" [(ngModel)]="newItem.quantity" placeholder=0 min="0">

</div>
<div>
    <input type="button" value="add Ingredient" (click)="addItemToFridge()">
  <input *ngIf="selectedItem.quantity !=0"type=button  (click)="removingIngredient()" value="Throw it away" >
  <!-- <input *ngIf="selectedItem.quantity ==0"type=button  (click)="removingIngredient()" value="Take out from Fridge" > -->
  <!-- <input type=button  value="" (click)="hideMenu()" value="Hide Edit Menu" > -->
      
</div>



   
  