<h1>Recipe Management Program</h1>
<div>
   
  <label>Recipe name:
    <input  placeholder="name" type="text" [(ngModel)]="formBinding.name">
  </label>
  <label>Cooking Time</label><input placeholder=0 min="0" type="number" [(ngModel)]="formBinding.time">
  
  <input type=button type="button" value="" (click)="addRecipe()" value="add Recipe" >
  <div *ngIf="service.selectedRecipe != null">
      Selected {{service.selectedRecipe.name}}
      
      <label >New Recipe name:
          <input placeholder="name" type="text" [(ngModel)]="formBinding2.name">
        </label>
        <label>New Cooking Time</label><input  placeholder=0 type="number" [(ngModel)]="formBinding2.time">
        
        <input type=button type="button" (click)="editRecipe()" value="Edit recipe" >

       <input type=button type="button" (click)="deleteRecipe()" value="Delete Recipe" >

       <input type=button type="button" (click)="hideMenu()" value="Hide Edit Menu" >
     
   </div> 
  
</div>
<hr>
<table>
  <tr>
    <th>Recipe Name</th>
    <th>Recipe time</th>
    <th>ingredients</th>
    <th>Insructions</th>
  </tr>
 

  <tr *ngFor="let r of service.recipeArray" (click)="selectRecipe(r)" class="{{r == service.selectedRecipe?'selected':'' }}">
     <td>{{r.name}}</td>
    <td>{{r.time + ' minutes'}}</td>

    <td> 
      <ul *ngFor="let x of r.ingredientsList" >
        <li> {{ x.quantity+" "+x.name  }}
                    
      </li></ul>
      <input type="text"  *ngIf="service.selectedRecipe != null && service.selectedRecipe===r"  [(ngModel)]="bindedIngredient.name" placeholder="Add ingredient" >
      <input type="number"  *ngIf="service.selectedRecipe != null && service.selectedRecipe===r" [(ngModel)]="bindedIngredient.quantity" placeholder=0 min="0">
      <input type="button" *ngIf="service.selectedRecipe != null&& service.selectedRecipe===r" (click)="r.addIngredient(bindedIngredient)" value="add ingredient" >
      </td>
    <td>
      
        <ul *ngFor="let x of r.instructionsList">
            <li> {{ x }}
                        
          </li></ul>
      <input type="text"  *ngIf="service.selectedRecipe != null && service.selectedRecipe===r"  [(ngModel)]="str" placeholder="Add Instruction" >
      <input type="button" *ngIf="service.selectedRecipe != null&& service.selectedRecipe===r" (click)="r.addInstruction(str)" value="add" >
   
    </td>
  </tr>
  <!-- <tr *ngIf="formBinding.name != null && formBinding.time != 0 ">
    <td>  {{ formBinding.name }}</td>
    <td>{{ formBinding.time }}  minutes</td>
    
  </tr> -->
</table>



 <!-- two way data binding
  <h1> ingredient List </h1>
  <table>
    <tr *ngFor="let ingredients">
      <td>{{ingredients.name}}</td>
      <td>{{ingredients.quantity}}</td>
    </tr>
  </table>
  <label>name</label><input type="text" [(ngModel)]="formBinding.name"><br>
 <input type="button" value="" (click)="addIngredient()" value="Add ingredient">
   <!-- selection -->
  <!-- <h1> recipes below</h1>
  <table>
    <tr *ngFor="let recipe " (click)="select(recipe)" class="{{recipe == service.selectedRecipe?'selected':'' }}" >
      <td>{{recipe.name}}</td>
      <td>{{recipe.time}}</td>
    </tr>
  </table>
  --> 
